<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
    <link rel="icon" href="/images/ARNG.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .center-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: calc(100% - 60px); 
        }
    </style>
</head>
<body>
<%- include('header') %>

<div class="center-container">
    <h1>Excel Upload</h1>
    <section>
        <h2>Select your Excel for upload:</h2>
        <form action="/upload/handle-upload" method="post" enctype="multipart/form-data">
            <!--dropdown for surveys -->
            <select name="surveySelection">
                <option value="newSurvey">New Survey</option>
                <% surveys.forEach(survey => { %>
                    <option value="<%= survey.survey_id %>"><%= survey.title %></option>
                <% }); %>
            </select>
            <br><br>

            <!--file input-->
            <input type="file" name="file" accept=".xlsx, .csv, .xls">
            <br><br>

            <!--submit button-->
            <input type="submit" value="Upload Excel">
        </form>
    </section>
</div>

<footer>
    <p>&copy; National Guard.</p>
</footer>


<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        const fileInput = document.querySelector('input[type="file"]');
        const dropdown = document.querySelector('select[name="surveySelection"]');
        const fileName = fileInput.value.split('\\').pop().split('.').slice(0, -1).join('.');
        const existingSurveys = [<%- surveys.map(survey => `"${survey.title}"`).join(", ") %>];






        
        if (dropdown.value === 'newSurvey' && existingSurveys.includes(fileName)) {
            alert('A survey with this file name already exists. Please choose a different file or rename the current one.');
            e.preventDefault(); //preventing form submission
        }
    });
</script>

</body>
</html>
