<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
    <link rel="stylesheet" href="styles.css"> <!-- Adjust if you have a specific CSS file -->
</head>
<body>

    <header>
        <h1>CSV Upload</h1>
    </header>

    <main>
        <section>
            <h2>Select your CSV for upload:</h2>
            <form action="/upload/handle-upload" method="post" enctype="multipart/form-data">
                <input type="file" name="csvfile" accept=".xlsx, .csv, .xls">
                <input type="submit" value="Upload CSV">
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Your Company Name. All rights reserved.</p>
    </footer>

</body>
</html>





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>CSV Upload</h1>
    </header>

    <main>
        <section>
            <h2>Select your CSV for upload:</h2>
            <form action="/handle-upload" method="post" enctype="multipart/form-data">
                <input type="file" name="csvfile" accept=".csv">
                <input type="submit" value="Upload CSV">
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Your Company Name. All rights reserved.</p>
    </footer>

</body>
</html> -->