
input[type=submit], input[type=button] {
  background-color: #FEC325;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=submit]:hover, input[type=button]:hover {
  background-color: #20202D;
  color: white;

}

button[type=submit] {
  background-color: #FEC325;
  color: #20202D !important;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button[type=submit]:hover {
  background-color: #20202D;
  color: white !important;
}